@page "/BH0013"

<h1>BH0013: A lambda can be made static</h1>

<p>Can make this lambda static.</p>

<h2>Code with violation</h2>

<CodeHighlight>
    public class TestClass {
        public void TestMethod() {
            var lambda = (int x) => x * 2;
        }
    }
</CodeHighlight>

<h2>Fixed Code</h2>

<CodeHighlight>
    public class TestClass {
        public void TestMethod() {
            var lambda = static (int x) => x * 2;
        }
    }
</CodeHighlight>
