@page "/BH0007"

<h1>BH0007: Prefer System.Threading.Lock over System.Object</h1>

<p>It is recommended to use System.Threading.Lock instead of System.Object for locking.</p>

<h2>Code with violation</h2>

<CodeHighlight>
    public class TestClass {
        private object? lockObj;

        public void TestMethod() {
            lockObj = new();

            lock (lockObj) {
                Console.WriteLine();
            }
        }
    }
</CodeHighlight>

<h2>Fixed Code</h2>

<CodeHighlight>
    public class TestClass {
        private Lock? lockObj;

        public void TestMethod() {
            lockObj = new();

            lock (lockObj) {
                Console.WriteLine();
            }
        }
    }
</CodeHighlight>
