@page "/BH0008"

<h1>BH0008: Don't repeat negative patterns</h1>

<p>The negated pattern should not be used repeatedly.</p>

<h2>Code with violation</h2>

<CodeHighlight>
    public class TestClass {
        public (bool, bool) TestMethod1(object? obj1, object? obj2) {
            return (obj1 is not not null, obj2 is not not not null);
        }
    }
</CodeHighlight>

<h2>Fixed Code</h2>

<CodeHighlight>
    public class TestClass {
        public (bool, bool) TestMethod1(object? obj1, object? obj2) {
            return (obj1 is null, obj2 is not null);
        }
    }
</CodeHighlight>
