@page "/generators"

<h1>Source Generators</h1>

<p>Attributes required by source generators are provided through the <code>Bluehill.Analyzers.Attributes</code> package. To install this package, add the following to csproj:</p>

<pre><code>@MSBuildItemGroup</code></pre>

<p>There is no reason to include the Bluehill.Analyzers.Attributes assembly in the output directory because the attributes are removed at compile time.</p>

<ul>
    <li><NavLink href="enumextensionsgenerator">EnumExtensionsGenerator</NavLink></li>
</ul>

@code {

    // ReSharper disable once InconsistentNaming
    private const string MSBuildItemGroup = "<ItemGroup>\r\n  <PackageReference Include=\"Bluehill.Analyzers.Attributes\" Version=\"<version>\" PrivateAssets=\"all\" ExcludeAssets=\"runtime\" />\r\n</ItemGroup>";

}
