@page "/"

<PageTitle>Bluehill.Analyzers</PageTitle>

<h1>Bluehill.Analyzers</h1>

<p>These pages describe the Bluehill.Analyzers analyzer.</p>

<ul>
    <li><NavLink href="rules">Rules</NavLink></li>
    <li><NavLink href="refactorings">Refactorings</NavLink></li>
    <li><NavLink href="generators">Source Generators</NavLink></li>
</ul>
