@page "/rules"

<h1>Rules</h1>

<ul>
    <li><NavLink href="BH0001">BH0001</NavLink></li>
    <li><NavLink href="BH0003">BH0003</NavLink></li>
    <li><NavLink href="BH0004ToBH0006">BH0004, BH0005, BH0006</NavLink></li>
    <li><NavLink href="BH0007">BH0007</NavLink></li>
    <li><NavLink href="BH0008">BH0008</NavLink></li>
    <li><NavLink href="BH0009">BH0009</NavLink></li>
    <li><NavLink href="BH0010ToBH0011">BH0010, BH0011</NavLink></li>
</ul>
