@page "/rules"

<h1>Rules</h1>

<ul>
    <li><NavLink href="BH0001">BH0001</NavLink></li>
    <li><NavLink href="BH0002">BH0002</NavLink></li>
    <li><NavLink href="BH0003">BH0003</NavLink></li>
    <li><NavLink href="BH0004ToBH0006">BH0004, BH0005, BH0006</NavLink></li>
</ul>
